.hero {
    background-color: black; // temp
    height: 100vh; // temp

    &__inner {
        padding-top: 150px;
        display: grid;
        grid-template-rows: 1fr 100px;
        grid-template-areas: 'hero-main' 'hero-footer';
    }

    &__main {
        grid-area: 'hero-main';
        align-items: center;
        display: flex;
    }

    &__footer {
        grid-area: 'hero-footer';
        background-color: red; // temp
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 40rem;
        width: 100%;
        height: 25rem; //temp
        background-color: yellow; // temp
    }
    
    &__readmore {
        height: 2rem; // temp
        width: 5rem; // temp
        background-color: yellow; // temp

    }


}

.social {
    width: 3rem; // temp
    height: 2rem; //temp
    background-color: yellow; // temp
}