@use '../../components/details';

.promo {
    padding-top: calc( var(--gap-xl) + 150px );
    margin-top: -150px;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-m);
    }

    &__card {
        max-width: 25rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark-801);
        padding: 2.5rem 3rem;
        position: relative;
        transform: scale(1);
        transition: all 0.2s;

        &:hover {
            transform: scale(1.1);
        }

        p {
            font-size: 12px;
        }

        &--dark {
            background-color: var(--color-dark-101);

            h5 {
                color: var(--color-light-200);
            }

            h3 {
                color: var(--color-light);
            }

            p {
                color: var(--color-light-500);
            }
        }

        &--orange {
            h5 {
                color: var(--color-dark-101);
            }

            h3 {
                color: var(--color-secondary);
            }
        }

        &--light {
            h5 {
                color: var(--color-dark-301);
            }

            h3 {
                color: var(--color-dark-101);
            }
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

}

.icon-readmore {
    @include details.arrow-right();
    
    &--gray {
        @include details.arrow-right($fill: var(--color-dark-601));
    }
    
}