@use '../../components/details';
@use '../../utilities/responsive';

.promo {
    padding-top: calc( var(--gap-xl) + 150px );
    margin-top: -150px;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-m);

        @include responsive.max(56.25rem) {
            flex-wrap: wrap;
        }
        
        @include responsive.max(30rem) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__card {
        max-width: 26rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark-801);
        padding: 2.5rem 3rem;
        position: relative;
        transform: scale(1);
        transition: all 0.2s;

        @include responsive.max(56.25rem) {
            flex: 1;
            max-width: 100%;

        }
        
        &:hover {
            transform: scale(1.1);
        }
        
        p {
            font-size: 12px;
        }

        &--dark {
            background-color: var(--color-dark-101);

            .promo__subtext {
                color: var(--color-light-200);
            }

            .promo__text {
                color: var(--color-light);
            }

            p {
                color: var(--color-light-500);
            }
        }

        &--orange {

            .promo__subtext {
                color: var(--color-dark-101);
            }

            .promo__text {
                color: var(--color-secondary);
            }
        }

        &--light {

            .promo__subtext {
                color: var(--color-dark-301);
            }

            .promo__text {
                color: var(--color-dark-101);
            }
        }

    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    &__subtext {
        font-size: clamp(1.25rem, 0.8594rem + 0.7813vw, 1.5625rem);
    }

    &__text {
        font-size: clamp(2.5rem, 1.7969rem + 1.4063vw, 3.0625rem);
    }

}

.icon-readmore {
    @include details.arrow-right();
    
    &--gray {
        @include details.arrow-right($fill: var(--color-dark-601));
    }
    
}