@use '../../components/details';
@use '../../utilities/responsive';

.second-promo {
    padding-top: var(--gap-xl);

    &__inner {
        
    }
    
    &__card {
        background-image: url("src/scss/assets/images/promo@2x.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        max-width: var(--page-inner);
        width: 100%;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
            opacity: 0.9;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }

    &__text {
        padding: 7rem 3rem 5rem 3rem;
        
        @include responsive.max(50rem) {
            padding: 4rem 3rem;
        }
    }

    &__main-text {
        color: var(--color-light);
        font-size: clamp(3rem, 2.2308rem + 3.0769vw, 5rem);
    }

    &__subtext {
        color: var(--color-light-200);
        font-size: clamp(1.5rem, 1.2115rem + 1.1538vw, 2.25rem);
    }
}

.icon-readmore {
    @include details.arrow-right();
}