@mixin default(
    $background: var(--color-secondary), 
    $color: var(--color-light), 
    $hover-background: var(--color-secondary-700), 
    $hover-color: var(--color-light),
    $padding: 0.8rem 1.5rem,
    $font-size: 2rem
    ) {
    background-color: $background;
    color: $color;
    padding: $padding;
    border: 0;
    border-radius: 0;
    transform: skewX(-10deg);
    font-size: $font-size;
    font-family: var(--font-sans);
    display: inline-block;
    text-decoration: none;
    &:hover {
        background-color: $hover-background;
        color: $hover-color;
    }
}