:root {

    --section-gap: 6rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75 );

    --gap-xl: 4rem;
    --gap-l: 3rem;
    --gap-m: 2rem;
    --gap-s: 1rem;

    --border-radius: 0px;

    --color-dark-100: #2b3135; // #2B3135

    --color-dark-101:hsl(207, 14%, 29%); // #3F4A53
    --color-dark-201:hsl(207, 14%, 39%);
    --color-dark-301:hsl(207, 14%, 49%);
    --color-dark-401:hsl(207, 14%, 59%);
    --color-dark-501:hsl(207, 14%, 69%);
    --color-dark-601:rgb(194, 202, 209);
    --color-dark-701:hsl(207, 14%, 89%);
    --color-dark-801:hsl(207, 14%, 94%);
    --color-dark-901:hsl(207, 14%, 99%);

    --color-dark-102:hsl(206, 20%, 33%); // #435665
    --color-dark-202:hsl(206, 20%, 43%);
    --color-dark-302:hsl(206, 20%, 53%);
    --color-dark-402:hsl(206, 20%, 63%);
    --color-dark-502:hsl(206, 20%, 73%);
    --color-dark-602:hsl(206, 20%, 83%);

    --color-primary-100: hsl(210, 100%, 11%);
    --color-primary-200: hsl(210, 100%, 21%);
    --color-primary-300: hsl(210, 100%, 31%);
    --color-primary-400: hsl(210, 100%, 41%);
    --color-primary: hsl(210, 100%, 51%); // #0584FF
    --color-primary-600: hsl(210, 100%, 61%);
    --color-primary-700: hsl(210, 100%, 71%);
    --color-primary-800: hsl(210, 100%, 81%);
    --color-primary-900: hsl(210, 100%, 91%);

    --color-secondary-100: hsl(9, 98%, 15%);
    --color-secondary-200: hsl(9, 98%, 20%);
    --color-secondary-300: hsl(9, 98%, 35%);
    --color-secondary-400: hsl(9, 98%, 45%);
    --color-secondary: hsl(9, 98%, 55%); // #FD3E1D
    --color-secondary-600: hsl(9, 98%, 65%);
    --color-secondary-700: hsl(9, 98%, 75%);
    --color-secondary-800: hsl(9, 98%, 85%);
    --color-secondary-900: hsl(9, 98%, 95%);

    --color-light: hsl(0, 0%, 100%); // #fff
    --color-light-200: hsl(0, 0%, 90%);
    --color-light-300: hsl(0, 0%, 80%);
    --color-light-400: hsl(0, 0%, 70%);
    --color-light-500: hsl(0, 0%, 60%);
    --color-light-600: hsl(0, 0%, 50%);
    --color-light-700: hsl(0, 0%, 40%);
    --color-light-800: hsl(0, 0%, 30%);
    --color-light-900: hsl(0, 0%, 20%);

    --font-sans: 'abolition', sans-serif;
    --font-serif: 'industry', sans-serif;

    --line-height: 1.5;

    --font-scale: 1.4;
    --font-size: 1.125rem; // 18px

    --font-size-1: var(--font-size);  // 18px
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) ); // 25.2px
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) ); // 35.3px
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) ); // 49.4px
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) ); // 69.1px
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) ); // 96.8px

    --page-inner: 80rem;
    --grid-container: [full-start] minmax(5rem, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(5rem, 1fr) [full-end];
}