body {
    font-family: var(--font-serif);
    font-size: var(--font-size-1);
}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-sans);
}

h1 {
    font-size: var(--font-size-6);
}

h2 {
    font-size: var(--font-size-5);
}

h3 {
    font-size: var(--font-size-4);
}

h4 {
    font-size: var(--font-size-3);
}

h5 {
    font-size: var(--font-size-2);
}

h6 {
    font-size: var(--font-size-1);
}

p {
    line-height: var(--line-height);
}

a {
    color: var(--color-dark);
    text-decoration: none;
    
    &:hover {
        color: var(--color-accent);
    }

}

li {
    font-size: var(--font-size-2);
    font-family: var(--font-sans);
    line-height: var(--line-height);
    list-style: none;
}

span {
    font-family: var(--font-sans);
}