.site-header {
    min-height: 150px;
    width: 100%;
    position: fixed;
    z-index: 99;
    
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        
    }
}

.header-menu {
    display: flex;
    align-items: center;
    gap: var(--gap-m);

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        gap: var(--gap-m);
        font-style: oblique;
        color: var(--color-light);
    }

    &__link {
        position: relative;
        
        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            height: 3px;
            width: 100%;
            bottom: -5px;
            left: -1px;
            background-color: var(--color-secondary);
            transform: scale(0, 1);
            transition: transform 0.2s;
        }

        &:hover {
            &::after {
                transform: scale(1, 1);
            }
        }
    }
}

.menu-button {
    position: relative;
    border: 0;
    border-radius: 0;
    background: none;
    padding: 0;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;

    &__hamburger {
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--color-light);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: var(--color-light);
            top: -8px;
        }

        &::after {
            top: 8px;
        }

    }
}