@use '../utilities/responsive';

.site-header,
.hero,
.promo,
.news,
.second-promo,
.opening-hours,
.site-footer {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
    }

    @include responsive.max(50rem) {
        grid-template-columns:  [full-start] minmax(2rem, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(2rem, 1fr) [full-end];
    }
}
