.side-menu {
    padding-top: var(--gap-l);
    position: fixed;
    z-index: 99;
    background-color: rgba(67, 86, 101, 0.7);
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    &--visible {
        opacity: 1;
        visibility: visible;
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-s);
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-3);
        color: var(--color-light);

        &:hover {
            color: var(--color-secondary-700);
        }
        
    }

    &__link {


    }

}

.training-menu {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 0.2s;
    
    &--open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 4.5rem;
        visibility: visible;
        opacity: 1;
        height: 100%;
    }
}