.site-menu {
    margin-top: 150px;
    position: fixed;
    z-index: 99;
    background-color: rgba(67, 86, 101, 0.8);
    max-width: 40rem;
    width: 100%;
    top: 0;
    right: -40rem;
    transition: all 0.8s;

    &--visible {
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
    }

    &__inner {

    }

    &__button {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-s);
    }

    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-3);
        color: var(--color-light);
    }

    &__link {

    }

}

.training-menu {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 0.2s;
    
    &--open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 4.5rem;
        visibility: visible;
        opacity: 1;
        height: 100%;
    }
}